{% extends 'courses/course_base.html' %}
{% load bootstrap4 %}

{% block title_name %}
    Stegsolver - создание курса
{% endblock title_name %}
    

{% block main_content %}
    <h1>Создать новый курс</h1>
    
    {% if user_type == 2 %}
        <form action="{% url 'courses:create' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Create" class="btn btn-success btn-lg">
        </form>
    {% else %}
        <div class="jumbotron">
            <h2>Упс! Только учитель имеет доступ к этой страницу.</h2>
        </div>
    {% endif %}
        
{% endblock main_content %}
    