.sidenav {
  /*height: 100%; откоментировать, чтобы была фикс высота*/
  width: 20%; /* Ширина боковой панели */
  position: fixed; /* фикс сайдбар */
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden; /* отключение скролла по оси х */
  padding-top: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", 'sans-serif;
}
p, a {
  font-family: 'Roboto', 'sans-serif';
}

/* ссылки в меню нав */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #F7941D;
  display: block;
}

/* навод мышки - другой цвет */
.sidenav a:hover {
  color: #f1f1f1;
}

/* осн страница */
.main {
  margin-left: 160px; /* такая же как и ширина сайдбара */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.content {
  margin-top: 2em;
  margin-left: 25%;
  margin-bottom: 2em;
  margin-right: 2em;
}

.sidemenu {
  display: block;
  color: #f4f4f4;
}

.side-element {
  text-align: center;
}

i {
  margin: 0.2em;
}

.side-items {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#side-head {
  margin-top: 0.5em;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f3f3f3;
}

.course-item a{
  font-size: 18px;
}

.button-stretch{
  margin: 3% 0% 1% 0%;
}

.card-deck, .assignments, .submissions, .grade {
  margin:3% 0% 3% 0%
}

.resources {
  margin-bottom: 1%;
}

.index-image {
  height: 100%;
}

.index-button {
  margin-top: 2em;
}
.btn-primary {
    color: #fff;
    background-color: #F7941D;
    border-color: #CE7B16;
}
.btn-primary:hover {
    color: #fff;
    background-color: #F7941D;
    border-color: #CE7B16;
}
.btn-warning {
    color: #212529;
    background-color: #F7941D;
    border-color: #CE7B16;
}