{% extends 'base.html' %}


{% block title %}
    Stegsolver
{% endblock title %}
    

{% block body_content %}
    <div class="container">
        {% if user.is_authenticated %}
            <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
            <h1>Имя пользователя: {{user.username}}</h1>
            <h4>Имя: {{user.first_name}}</h4>
            <h4>Фамилия: {{user.last_name}}</h4>
            
            <h4>Тип:
            {% if user.user_type == 1 %}
                Студент
            {% else %}
                Учитель
            {% endif %}
            </h4>
            <h4>Email: {{user.email}}</h4>
            
            {% if user.user_type == 2 %}
                <div class="card-deck">
                {% for course in course_list %}
                    
                    {% if course.teacher.id == user.id %}
                        <div class="card" style="width: 18rem">
                            <div class="card-body">
                            <h5 class="card-title">{{course.course_name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{course.teacher}}</h6>
                            <p class="card-text">
                                {{course.course_description}}
                            </p>
                            <a href="{% url 'courses:detail' pk=course.pk %}" 
                            class="btn btn-primary card-link">More Info</a>
                            <p>{{course.students.count}}
                                    member{{course.students.count|pluralize}}</p>
                            </div>
                        </div>
                    {% endif %}
                
                {% empty %}
                    <div class="jumbotron">
                        Вы еще не создали ни одного курса.
                    </div>
                {% endfor %}
                </div>
            {% elif user.user_type == 1 %}
            <div class="card-deck">
                {% for course in course_list %}
                    
                    {% if user in course.students.all %}
                        <div class="card" style="width: 18rem">
                            <div class="card-body">
                            <h5 class="card-title">{{course.course_name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{course.teacher}}</h6>
                            <p class="card-text">
                                {{course.course_description}}
                            </p>
                            <a href="{% url 'courses:detail' pk=course.pk %}" class="btn btn-primary card-link">Узнать больше</a>
                            <a href="{% url 'courses:unenroll' pk=course.pk %}" class="btn btn-danger card-link">Отписаться</a>
                            <p>{{course.students.count}}
                                    member{{course.students.count|pluralize}}</p>
                            </div>
                        </div>
                    {% endif %}
               
                {% empty %}
                    <div class="jumbotron">
                        Вы еще не записались ни на какие курсы.
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        {% else %}
            <div class="jumbotron">
                Вы не можете получить доступ к этому профилю.
            </div>
        {% endif %}

    </div>
{% endblock body_content %}
    